#main {
    background-color: #29AAE1;
    padding: 20px;
}

#main form {
    text-align: center;
}

#main form > label {
    font-size: 16px;
    color: #fff;
    display: block;
    margin-bottom: 15px;
}

#main form > input {
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: #EB5B25;
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px 25px;
    cursor: pointer;
}

#main form > input:hover {
    background-color: #d94e1f;
}

#jokes {
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
}
